<!-- <ion-view title="MAP" ng-init="init()">
  <ion-nav-bar class="bar-energized"></ion-nav-bar>
  <ion-content>
    <div id="map" data-tap-disabled="true"></div>
  </ion-content>
  <ion-footer-bar class="bar-dark"> <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Dove mi trovo</a> </ion-footer-bar>
</ion-view> -->

<html ng-app="starter.controllers">
<ion-view title="Map" ng-init="init()">
  <ion-content>
     <div id="map" data-tap-disabled="true"></div>
    

    </ion-content>


    <ion-footer-bar class="bar-stable">
      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate"></a>
    </ion-footer-bar>
    
</ion-view>
</html>